/* Importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* Main Css */
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    width: 80%;
    margin: auto;
}

/* Header CSS */
header{
    text-align: center;
}

/* Hero Section */
.hero-section {
    display: flex;
    justify-items: center;
}